@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/kendo.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="skillsRootElement"></div>
    <script src="~/lib/jquery.js"></script>
    <script src="~/lib/bootstrap.js"></script>
    <script src="~/lib/kendo.js"></script>
    <script src="~/lib/react.js"></script>
    <script src="~/js/skillsBundle.js"></script>
</body>
</html>